@import "tailwindcss";


@theme {
  --font-primary: 'Jost', sans-serif;

  --color-primary: #0B1C30;
  --color-primary-hover: #1E3E62;

  --color-secondaryl: #14A09F;
  --color-secondaryd: #006B5F;
  --color-secondaryd-hover: #004C43;
  --color-accent: #D98C2D;
  --color-accentl: #FFDDB8;
  --color-accentd: #B87500;

  --color-neutral1: var(--color-gray-100);
  --color-neutral2: var(--color-gray-200);
  --color-neutral3: var(--color-gray-300);
  --color-neutral4: var(--color-gray-400);
  --color-neutral5: var(--color-gray-500);
  --color-neutral6: var(--color-gray-600);
  --color-neutral7: var(--color-gray-700);
  --color-neutral8: var(--color-gray-800);
  --color-neutral9: var(--color-gray-900);


  /* --font-primary: 'Inter', sans-serif; */



}


body {
  font-family: var(--font-primary);
}


/* -------------------- */
/* Custom Scrollbar */
/* -------------------- */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondaryd) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondaryd);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondaryd-hover);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}